In [22]:
# 1. Create a string with your name and print it
name = "shivam"
name

'shivam'

In [23]:
# 2. Find the length of the string "Hello World"
text = "Hello World"
(len(text))

11

In [21]:
# 3. Slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
text[:3]

'Pyt'

In [20]:
# 4. Convert the string "hello" to uppercase
text = "hello"
text.upper()

'HELLO'

In [16]:
# 5. Replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
text.replace("apple", "orange")

'I like orange'

In [15]:
# 6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [14]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
numbers

[1, 2, 3, 4, 10]

In [13]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
numbers

[1, 2, 4, 5]

In [24]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
letters[1]

'b'

In [25]:
# 10. Reverse the list [10, 20, 30, 40, 50]
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
numbers

[50, 40, 30, 20, 10]

In [26]:
# 11. Create a tuple with the elements 100, 200, 300 and print it
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [27]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
colors[-2]

'blue'

In [28]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [30]:
# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
animals.index('cat')

1

In [31]:
# 15. Create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

In [33]:
# 16. Create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
my_set

{'a', 'b', 'c'}

In [34]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}
numbers = {1, 2, 3, 4, 5}
numbers.clear()
numbers

set()

In [35]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}
numbers = {1, 2, 3, 4}
numbers.remove(4)
numbers

{1, 2, 3}

In [36]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [37]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [39]:
# 21. Create a dictionary with the keys "name", "age", and "city", and print it
person = {'name': 'shivam', 'age': 27, 'city': 'delhi'}
person

{'name': 'shivam', 'age': 27, 'city': 'delhi'}

In [40]:
# 22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [41]:
# 23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [42]:
# 24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [43]:
# 25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [44]:
# 26. Create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [45]:
# 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[2, 2, 8, 65, 73]

In [46]:
# 28. Create a list with strings and print the element at the third index
words = ['apple', 'banana', 'cherry', 'date', 'fig']
words[3]

'date'

In [47]:
# 29. Combine two dictionaries into one and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
combined

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [48]:
# 30. Convert a list of strings into a set
words = ['apple', 'banana', 'apple', 'orange']
my_set = set(words)
print(my_set)

{'apple', 'banana', 'orange'}